<section>
  <footer class="footer" data-component="Footer">
    <div class="container">
      <div class="widgets">
        <div class="row">
          <div class="col-sm-3 widget widget-about">
            <%= link_to root_path do %>
              <%= image_tag("Alia/logo.png", class: "img-responsive", alt:"" ) %>
            <% end %>
            <br>
            <ul class="social list-unstyled">
              <li>
                <i class="fa fa-facebook %>"></i>
                <i class="fa fa-google"></i>
                <i class="fa fa-twitter %>"></i>
              </li>
            </ul>
            <br>
            <br>
            <%= image_tag("Kaira/payment.png", class: "img-responsive", alt:"") %>
          </div>
          <div class="col-sm-3 widget widget-links">
            <h3 class="widget-title">My Account</h3>
            <div class="row">
              <ul class="col-xs-6 z-list">
                <li>
                  Register / Login
                  <%#= link_to 'Register/Log in', customer_account_path_helper %>
                </li>
                <li>
                  Cart
                  <%#= link_to 'Cart', cart_path %>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3 widget widget-links">
            <h3 class="widget-title">Pages</h3>
            <div class="row">
              <ul class="col-xs-6 z-list">
                <li>
                  <%= link_to "About", about_path %>
                </li>
                <li>
                  <%= link_to "Terms", tandc_path %>
                </li>
                <li>
                  <%= link_to "Policy", policy_path %>
                </li>
                <li>
                  <%= link_to "Contact", contact_path %>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3 widget widget-links">
            <h3 class="widget-title">Categories</h3>
            <div class="row">
              <ul class="col-xs-6 z-list ">
                <li>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="copy-right text-center">
        <p>© Copyright 2017. All Rights Reserved to
          <%= link_to root_path ,class: "effect" do %>
            Some Store
          <% end %>
        </p>
      </div>
    </footer>
  </section>