<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to root_path do %>
      <%= image_tag("Alia/logo.png", class: "navbar-brand", alt:"" ) %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to root_path, class: "nav-link" do %>
            Home<%= content_tag :span, "(current)", :class => "sr-only" %>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Brands
          </a>
          <div class="dropdown-menu" style="width: 20em;" aria-labelledby="navbarDropdownMenuLink">
            <% @vendors.first(10).each do |vendor| %>
              <%= link_to vendor.n, vendor_path(vendor.vid), class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "Products", products_path, class: "nav-link"  %>
        </li>
        <li class="nav-item">
          <%= link_to 'About', about_path, class: "nav-link"  %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact', contact_path, class: "nav-link"  %>
        </li>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
          <li>
            <span class="cart_item_number">
              2
            </span>
            <%= fa_icon "shopping-cart" %>
          </li>
        </ul>
    </div>
  </nav>
</div>