<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Minimal</title>
    <%= render 'components/seo_others' %>
    <%= stylesheet_link_tag "Alia/all", media: "all" %>
  </head>
  <body>
    <% if @seo_option_code.present? %>
      <%= raw @seo_option_code.body_code %>
    <% end %>
    <% if @seasonal_greetings.present? %>
      <%= render 'components/greetings' %>
    <% end %>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/messages' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <% if @seo_option_code.present? %>
      <%= raw @seo_option_code.footer_code %>
    <% end %>
    <%= javascript_include_tag "Alia/all" %>
    <script>
      $('.icon').click(function() {
              $('.search').toggleClass('expanded');
          });
    </script>
  </body>
</html>