<% current_cart.items.each do |cart_item| %>
  <div id="product_<%= cart_item.product.id %>" class="thumbnail">
    <div class="row">
      <div class="col-xs-4">
        <%= image_tag product_small_image_path(cart_item.product), class: "img-responsive" %>
        <p class="text-center" style="margin-top: 20px;"><%= link_to remove_item_cart_path(remove_item: { product_id: cart_item.product.id }), confirm: t('confirm'), method: :put do %><%= fa_icon "trash-o 2x" %><% end %>
        </p>
      </div>
      <div class="col-xs-8">
        <strong><%= link_to cart_item.title.html_safe, product_path(cart_item.product) %>
          <% if cart_item.color.nil? %>
          <span class="label label-primary">-</span>
        <% else %>
          <span class="label label-primary"><%= cart_item.color %></span>
        <% end %>
        </strong>
      <% if cart_item.size.nil? %>
        <p><strong>Size:-</strong> -</p>
      <% else %>
        <p><strong>Size:- <%= cart_item.size %></strong></p>
      <% end %>
      <%= simple_form_for :carts, url: '/cart', method: :put do |f| %>
        <p class="text-right">
          <%= f.hidden_field :product_id, value: cart_item.product.id %>
          <%= f.input_field :quantity, value: cart_item.quantity, class: 'form-control' %>
          <%= f.hidden_field :color, value: cart_item.color %>
          <%= f.hidden_field :size, value: cart_item.size %>
          <%= button_tag(type: 'submit', class: "btn btn-primary", style: "margin-top: -55px;
      ") do %><%= fa_icon "refresh" %><% end %>
          </p>
        <% end %>
        <strong class="text-danger"><%= number_to_currency(cart_item.unit_price, unit: "₹ ") %> - <%= cart_item.percent_off %> %</strong>

      </div>
    </div>
  </div>
  <% end %>
