<div class="hero-wrap" style="background-image: url('https://images.pexels.com/photos/349494/pexels-photo-349494.jpeg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="mouse">
        <a href="#" class="mouse-icon">
          <div class="mouse-wheel"><span class="ion-ios-arrow-down"></span></div>
        </a>
      </div>
    </div>
  </div>
</div>
<section class="ftco-section ftco-product">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated">
        <h1 class="big">Brands</h1>
        <h2 class="mb-4">Brands</h2>
        <p>WHO WE REPRESENT</p>
        <p>From personal accessories to home decor, we have the perfect items for your store.  Manufacturers we represent include:</p>
      </div>
    </div>
    <% @vendors.first(12).each_slice(4).with_index do |vendors, id | %>
      <div class="row">
        <% vendors.each_with_index do |vendor, index| %>
          <% if vendor.vimg == "" || vendor.vimg == nil %>
            <!-- Card without Img -->
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
              <div class="card-wrapper">
                <div id="card-<%= id %><%= index %>" class="card card-rotating text-center">
                  <div class="face front">
                    <div class="card-body">
                      <h4 class="font-weight-bold mb-0"><%= link_to vendor.n, vendor_path(vendor.vid) %></h4>
                      <%= vendor.vid %>
                      <p class="ztext-ellipsis">
                        <%= vendor.d %>
                      </p>
                      <%= link_to "Explore Products", products_path(pi: "1", pz: "32", search: "", rg: "", vid: "#{vendor.vid}"), class: "badge badge-primary" %>
                      <%= link_to "Catalogs", vendor_path(vendor.vid), class: "badge badge-secondary" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <!-- Card with Img -->
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
              <div class="card-wrapper">
                <div id="card-<%= id %><%= index %>" class="card card-rotating text-center">
                  <div class="face front">
                    <div class="card-up">
                      <%= link_to vendor_path(vendor.vid) do %>
                        <%= image_tag(vendor.vimg, alt: vendor.n, class: "card-img-top z-img") %>
                      <% end %>
                    </div>
                    <div class="card-body d-flex flex-column">
                      <%= link_to "Explore Products", products_path(pi: "1", pz: "32", search: "", rg: "", vid: "#{vendor.vid}"), class: "badge badge-primary" %>
                      <button type="button" class="mt-1 rotate-btn font-weight-bold" data-card="card-1" onclick="flip('card-<%= id %><%= index %>')">More Info</button>
                    </div>
                  </div>
                  <div class="face back">
                    <div class="card-up">
                      <h4 class="font-weight-bold mb-0"><%= link_to vendor.n, vendor_path(vendor.vid) %></h4>
                      <p class="ztext-ellipsis">
                        <%= vendor.d %>
                      </p>
                    </div>
                    <div class="card-body d-flex flex-column">
                      <%= link_to "Catalogs", vendor_path(vendor.vid), class: "badge badge-secondary" %>
                      <button type="button" class="mt-1 rotate-btn font-weight-bold" data-card="card-1" onclick="flip('card-<%= id %><%= index %>')"> &lt;&lt; Back</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="row justify-content-center">
      <div class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated">
        <p>
          Explore all the brands we work with
          <%= link_to "All Brands >>", vendors_path, class: "badge badge-primary text-center" %>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section bg-light pt-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <h1 class="big">Products</h1>
        <h2 class="mb-4">Our Products</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <% @products.first(12).each_slice(4).with_index do |products, id | %>
      <div class="row">
        <% products.each_with_index do |product, index| %>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <div class="product">
              <a href="#" class="img-prod">
                <%= image_tag(product.ia + product.i2, class: "img-fluid z-img-fluid", alt: product.pn) %>
              </a>
              <div class="text text-center py-3 px-3">
                <span class="badge badge-dark">SKU: <%= product.pn %></span>
                <span class="badge badge-success">Brand: <%= product.vn %></span>
                <h3><a href="#"><%= product.d %></a></h3>
                <a href="#" class="badge badge-primary" role="button">Add to Cart</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
<section class="ftco-section testimony-section bg-light pt-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <h1 class="big">Testimony</h1>
        <h2>What customers say about us</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 ftco-animate">
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url('http://localhost:3000/assets/Minimal/person_1.jpg')">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url('http://localhost:3000/assets/Minimal/person_2.jpg')">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url('http://localhost:3000/assets/Minimal/person_3.jpg')">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url('http://localhost:3000/assets/Minimal/person_4.jpg')">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url('http://localhost:3000/assets/Minimal/person_1.jpg')">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Customer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-section-more img" style="background-image: url('http://localhost:3000/assets/Minimal/bg_4.jpg'); background-position: right bottom;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 heading-section ftco-animate">
        <h2 class="no-top" style="color:black;">New Collection</h2>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section bg-light ftco-services">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <h1 class="big">Business</h1>
        <h2>Grow your Business</h2>
      </div>
    </div>
    <div class="row" style="padding-top: 5em;">
      <div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-4">
            Icon
          </div>
          <div class="media-body">
            <h3 class="heading">Link 1</h3>
            <p>Text for this section here</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-4">
            Icon
          </div>
          <div class="media-body">
            <h3 class="heading">Link 2</h3>
            <p>Text for this section here</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-4">
            Icon
          </div>
          <div class="media-body">
            <h3 class="heading">Link 3</h3>
            <p>Text for this section here</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>