<p id="notice"><%= notice %></p>

<p>
  <strong>Repdesk token:</strong>
  <%= @admin_market_org.repdesk_token %>
</p>

<p>
  <strong>Api url:</strong>
  <%= @admin_market_org.api_url %>
</p>

<p>
  <strong>Rep group:</strong>
  <%= @admin_market_org.rep_group %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @admin_market_org.theme %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @admin_market_org.domain %>
</p>

<%= link_to 'Edit', edit_admin_market_org_path(@admin_market_org) %> |
<%= link_to 'Back', admin_market_orgs_path %>
