<div id="demo" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= asset_url('Alia/slide0.jpg') %>" alt="Los Angeles" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_url('Alia/slide1.jpg') %>" alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_url('Alia/slide2.jpg') %>" alt="New York" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_url('Alia/slide3.jpg') %>" alt="New York" width="1100" height="500">
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<section class="section products second-style" id="home-products" data-component="IndexLatest">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 section-title text-center">
        <h3>
          <i class="line"></i>Latest Products
          <i class="line"></i>
        </h3>
      </div>
      <div class="col-sm-12">
        <div class="masonry row">
          <% @products.first(12).each do |product| %>
            <%= link_to product_path(product.pid) do %>
              <div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1">
                <div class="inner-product">
                  <% if product.on_sale? %>
                    <span class="onsale">Sale!</span>
                  <% end %>
                  <div class="product-thumbnail">
                    <%= image_tag(product.ia + product.i2, class:"img-fluid", alt: "") %>
                  </div>
                  <div class="product-details text-center">
                    <div class="product-btns">
                      <%= fa_icon "shopping-cart", class: "li-icon" %>
                    </div>
                  </div>
                </div>
                <h3 class="product-title">
                  <%= link_to product_path(product) do %>
                    <%= product.pn %>
                  <% end %>
                </h3>
                <p class="product-price">
                  <ins>
                    <span class="amount">
                      Some Value
                    </span>
                  </ins>
                </p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-12 text-center">
        <%= link_to products_path ,class: "btn btn-default" do %>Show More
        <% end %>
      </div>
    </div>
  </div>
</section>
<div class="parallax">
  <section class="section collections no-padding-bottom" id="home-collections" data-component="IndexCategory" style="padding-top: 100px;padding-bottom: 90px;">
    <div class="container">
      <div class="row">
        <div class="col-sm-6  collection">
          <%= link_to products_path do %>
            <%= image_tag("Alia/p1.jpg", class: "img-fluid", alt:"" ) %>
          <% end %>
          <div class="image_caption">
            <h3 class="media-heading">Tees Before<br>
              Everything</h3>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6 collection">
              <%= link_to products_path do %>
                <%= image_tag("Alia/p4.jpg", class: "img-fluid", alt:"") %>
              <% end %>
              <div class="image_caption">
                <h3 class="media-heading">Cute</h3>
              </div>
            </div>
            <div class="col-sm-6 collection">
              <%= link_to products_path do %>
                <%= image_tag("Alia/p3.jpg", class: "img-fluid", alt:"") %>
              <% end %>
              <div class="image_caption">
                <h3 class="media-heading">Glamour</h3>
              </div>
            </div>
            <div class="col-sm-12 collection">
              <%= link_to products_path do %>
                <%= image_tag("Alia/p2.jpg", class: "img-fluid", alt:"") %>
              <% end %>
              <div class="image_caption">
                <h3 class="media-heading">Perfection</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="section products second-style" id="home-products" data-component="IndexLatest">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 section-title text-center">
        <h3>
          <i class="line"></i>All Products
          <i class="line"></i>
        </h3>
      </div>
      <div class="col-sm-12">
        <div class="masonry row">
          <% @products.last(12).each do |product| %>
            <%= link_to product_path(product.pid) do %>
              <div class="product col-md-3 col-sm-6 col-xs-12" data-product-id="1">
                <div class="inner-product">
                  <% if product.on_sale? %>
                    <span class="onsale">Sale!</span>
                  <% end %>
                  <div class="product-thumbnail">
                    <%= image_tag(product.ia + product.i2, class:"img-fluid", alt: "") %>
                  </div>
                  <div class="product-details text-center">
                    <div class="product-btns">
                      <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart">
                        <%= link_to product_path(product), class: "li-icon" do %>
                          <%= fa_icon "shopping-cart" %>
                        <% end %>
                      </span>
                    </div>
                  </div>
                </div>
                <h3 class="product-title">
                  <%= link_to product_path(product) do %>
                    <%= product.pn %>
                  <% end %>
                </h3>
                <p class="product-price">
                  <ins>
                    <span class="amount">
                      Some Value
                    </span>
                  </ins>
                </p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-12 text-center">
        <%= link_to products_path ,class: "btn btn-default" do %>Show More
        <% end %>
      </div>
    </div>
  </div>
</section>
<section class="section promotions no-padding-bottom small-padding-top" id="promotions" data-component="IndexPromotions">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="promotion media">
          <div class="media-left media-middle">
            <i class="fa fa-money"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">Return</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="promotion media">
          <div class="media-left media-middle">
            <i class="fa fa-globe"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">Support</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="promotion media">
          <div class="media-left media-middle">
            <i class="fa fa-truck"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">Shipping</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>