<section class="z-carousel">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1">
          <div class="hero">
            <hgroup>
              <h1>Life isnt perfect but your bags can be.</h1>
              <h2>One Stop Shop for HER bags!!</h2>
            </hgroup>
            <%= link_to products_path(product_segement_id: 107), class: "btn btn-hero btn-lg", style: "background-color: #1d62c7; border-color:#1d62c7;" do%>Shop Now<% end %>
          </div>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2">
          <div class="hero">
            <hgroup>
              <h1>It's an Add to Cart Kinda Day!</h1>
              <h2>40% off on all product applied + free shipping.</h2>
            </hgroup>
            <%= link_to products_path, class: "btn btn-hero btn-lg",style: "background-color: #1d62c7; border-color:#1d62c7;"  do%>RAID THE STOCK<% end %>
          </div>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3">
          <div class="hero">
            <hgroup>
              <h1>Make them stop & stare</h1>
              <h2>Bags Collection!! You Just Can't Leave it...</h2>
            </hgroup>
            <%= link_to products_path(product_segement_id: 124), class: "btn btn-hero btn-lg",style: "background-color: #1d62c7; border-color:#1d62c7;"  do%>Shop Now<% end %>
          </div>
        </div>
      </div>
    </div> 
    <%= link_to "#bs-carousel", class: "left carousel-control",  'data-slide' =>"prev" do%>
    <i class="fa fa-angle-left z-left" aria-hidden="true"></i>
    <% end %>
    <%= link_to "#bs-carousel", class: "right carousel-control",  'data-slide' =>"next" do%>
    <i class="fa fa-angle-right z-left" aria-hidden="true"></i>
    <% end %>
  </div>
</section>

<div class="content">
  <div class="ban-bottom-w3l">
    <div class="container">
      <div class="col-md-6 ban-bottom">
        <div class="ban-top">
          <%= link_to products_path(product_segement_id: 107) do %>
          <img src="<%= asset_url('Grator/ban1.jpg') %>" alt="" class="img-responsive"/>
          <% end %>
          <div class="ban-text">
            <h4>BAGS COLLECTION</h4>
          </div>
          <!-- <div class="ban-text2 hvr-sweep-to-top">
            <h4>50% <span>Off/-</span></h4>
          </div> -->
        </div>
      </div>
      <div class="col-md-6 ban-bottom3">
        <div class="ban-top">
          <a href="#featured">
            <img src="<%= asset_url('Grator/cat3.jpeg') %>" alt="" class="img-responsive"/>
          </a>
          <div class="ban-text1">
            <h4>FEATURED COLLECTION</h4>
          </div>
        </div>
        <div class="ban-img">
          <div class=" ban-bottom1">
            <div class="ban-top">
              <%= link_to products_path(product_segement_id: 107) do %>
              <img src="<%= asset_url('Grator/cat2.jpeg') %>" alt="" class="img-responsive"/>
              <% end %>
              <div class="ban-text1">
                <h4>BUY BAGS</h4>
              </div>
            </div>
          </div>
          <div class="ban-bottom2">
            <div class="ban-top">
              <%= link_to products_path(product_segement_id: 107) do %>
              <img src="<%= asset_url('Grator/banner4.jpg') %>" alt="" class="img-responsive"/>
              <% end %>
              <div class="ban-text1">
                <h4>NEW  BAGS</h4>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="new-arrivals-w3agile">
    <div class="container" id="featured">
      <h2 class="tittle">Bags & Wallets</h2>
      <div class="arrivals-grids">
      <% @products.first(8).each do |product| %>
        <%= link_to product_path(product) do %>
        <div class="col-md-3 arrival-grid simpleCart_shelfItem">
          <div class="grid-arr">
            <div  class="grid-arrival">
              <figure>    
                <%= link_to "#", class: "new-gri", 'data-toggle' => "modal", 'data-target' => "#myModal1" do%>
                <div class="grid-img">
                  <%= link_to product_path(product) do %>
                  <%= image_tag(product.ia + product.i2, class:"img-responsive", alt: "") %>
                  <% end %>
                </div>
                <% end %>
              </figure>
            </div> 
            <div class="ribben1">
              <p>NEW</p>
            </div>
            <div class="block">
              <div class="starbox small ghosting"> </div>
            </div>
            <div class="women">
              <h6><%= link_to product_path(product) do%><%= product.vn %><% end %></h6>
              <p ><em class="item_price"><%= product.pn %></em></p>
              <%= link_to product_path(product), 'data-text' => "Add To Cart", class: "my-cart-b item_add" do%>Add To Cart<% end %>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
        <div class="clearfix"></div>
        <br /><br /><br />
        <%= link_to "Show All", products_path, class: "my-cart-b item_add" %>
      </div>
    </div>
  </div>


  <div class="accessories-w3l">
    <div class="container">
      <h3 class="tittle">Lots of Discounts on</h3>
      <span>TRENDING DESIGNS</span>
      <div class="button">
        <%= link_to products_path(main_product_id: 44), class: "button1" do%> Shop Now<% end %>
      </div>
    </div>
  </div>


  <div class="product-agile">
    <div class="container">
      <h3 class="tittle1"> Latest Collection</h3>
      <div class="slider">
        <div class="callbacks_container">
          <ul class="rslides" id="slider">
            <li>
              <div class="caption">
                <% @products.last(8).each do |product| %>
                <%= link_to product_path(product) do %>
                <div class="col-md-3 cap-left simpleCart_shelfItem">
                  <div class="grid-arr">
                    <div  class="grid-arrival">
                      <figure>
                        <div class="grid-img">
                          <%= link_to product_path(product) do %>
                            <%= image_tag(product.ia + product.i2, class:"img-responsive", alt: "") %>
                          <% end %>
                        </div>
                      </figure>
                    </div>
                    <div class="block">
                      <div class="starbox small ghosting"> </div>
                    </div>
                    <div class="women">
                      <h6><%= link_to product_path(product) do%><%= product.vn %><% end %></h6>
                      <p ><em class="item_price"><%= product.pn %></em></p>
                      <%= link_to product_path(product), 'data-text' => "Add To Cart", class: "my-cart-b item_add" do%>Add To Cart<% end %>
                    </div>
                  </div>
                </div>
                <% end %>
                <% end %>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
          <br /><br /><br />
          <%= link_to "Show All", products_path, class: "my-cart-b item_add" %>
        </div>
      </div>
    </div>
  </div>
</div>
