<div class="z_carousel" data-component="IndexCarousel">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1">
          <div class="carousel-caption">
            <h3>Clothing &amp; Accessories</h3>
            <p>For head-turning looks to overhaul your wardrobe</p>
          </div>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2">
          <div class="carousel-caption">
            <h3>Shop Women’s Clothing Online</h3>
            <p>Find Easy Silhouettes and Structured Accents for Your Daily Fashion Fix</p>
          </div>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3">
          <div class="carousel-caption">
            <h3>Find Top Offers on Men’s Clothing</h3>
            <p>Unanchored to Season or Occasion</p>
          </div>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-4">
          <div class="carousel-caption">
            <h3>Shop Kid’s Clothing Online</h3>
            <p>Everyday favorites for Your Little One</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="category-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag("Kaira/cat1.jpeg", class: "img-responsive", alt:"") %>
        <div class="carousel-caption">
          <h1>New Collection</h1>
          <button type="button" class="btn btn-info">Explore Now</button>
        </div>
      </div>
      <div class="col-md-6">
        <%= image_tag("Kaira/cat4.jpeg", class: "img-responsive", alt:"") %>
        <div class="carousel-caption">
          <h1>Featured Collection.</h1>
          <button type="button" class="btn btn-info">Explore Now</button>
        </div>
      </div>
    </div>
  </div>

</section>


<section class="section products second-style z-margin " id="home-products" data-component="IndexLatest">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 section-title text-center">
        <h3>
          <i class="line"></i>Latest Products
          <i class="line"></i>
        </h3>
      </div>
      <div class="container">
        <div class="row">
          <% @products.last(4).each do |product| %>
          <div class="col-md-3 col-sm-6">
            <div class="box">
              <%= image_tag(product.ia + product.i2, class:"img-responsive", alt: "") %>
              <div class="box-content">
                <ul class="z-icon">
                  <li>
                    <%= link_to product_path(product), class: "fa fa-shopping-cart" do %>
                    <% end %>
                  </li>
                </ul>
              </div>
              <h3 class="product-title">
                <%= link_to product_path(product) do %>
                Product Name
                <p>
                 <span class="amount">
                   SKU
                 </span>
               </p>
               <% end %>
             </h3>
           </div>
         </div>
         <% end %>
       </div>
     </div>
     <div class="col-sm-12 text-center">
      <%= link_to products_path ,class: "btn btn-info" do %>Show More
      <% end %>
    </div>
  </div>
</div>
</section>

<section class="z_banner" data-component="Indexbanner"> <div class="testimonial_area"> <div class="container-fluid"> <div class="row"> <div class="col-md-12 col-sm-12 col-xs-12"> <div id="carousel-example-generic-testi" class="carousel slide" data-ride="carousel"> </div> </div> </div> </div> </div> </section>





<section class="section products second-style" id="home-products" data-component="IndexLatest">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 section-title text-center">
        <h3>
          <i class="line"></i>All Products
          <i class="line"></i>
        </h3>
      </div>
      <div class="container">
        <div class="row">
          <% @products.first(8).each do |product| %>
          <div class="col-md-3 col-sm-6">
            <div class="box">
              <%= image_tag(product.ia + product.i2, class:"img-responsive", alt: "") %>
              <div class="box-content">
                <ul class="z-icon">
                  <li>
                    <%= link_to product_path(product), class: "fa fa-shopping-cart" do %>
                    <% end %>
                  </li>
                </ul>
              </div>
              <h3 class="product-title">
                <%= link_to product_path(product) do %>
                Product Name
                <p>
                 <span class="amount">
                   SKU
                 </span>
               </p>
               <% end %>
             </h3>
           </div>
         </div>
         <% end %>
       </div>
     </div>
      <div class="col-sm-12 text-center">
        <%= link_to products_path ,class: "btn btn-info" do %>Show More
        <% end %>
      </div>
    </div>
  </div>
</section>


<section class="section promotions no-padding-bottom small-padding-top" id="promotions" data-component="IndexPromotions">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="promotion media">
          <div class="media-left media-middle">
            <i class="fa fa-money"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">Return</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="promotion media">
          <div class="media-left media-middle">
            <i class="fa fa-globe"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">Support</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="promotion media">
          <div class="media-left media-middle">
            <i class="fa fa-truck"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">Shipping</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>