<footer class="z-footer">
  <div class="container">
    <div class="col-sm-3 col-md-3">
      <div class="logo_footer">
        <%= link_to root_path do %>
          <h1 id="logo" class="z-head">
            Knits
          </h1>
        <% end %>
      <br>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda et harum, quod tempora, quae natus eos voluptate ad reiciendis saepe sunt non, exercitationem illo consequatur rerum vel quasi voluptatibus, dolorem.
        </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="weight">
        <h3>
          <span>Pages</span>
        </h3>
        <ul>
          <li>
            <%= link_to "About", about_path %>
          </li>
          <li>
            <%= link_to "Terms", tandc_path %>
          </li>
          <li>
            <%= link_to "Contact", contact_path %>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="weight">
        <h3>
          <span>Categories </span>
        </h3>
        <ul class="list-unstyled">
          <% unless @categories.nil? %>
            <% @categories.limit(4).each do |category| %>
              <li>
                <%=link_to "#{category.title}", products_path(category_id: category.id) %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="weight">
        <h3>
          <span>Contact Us</span>
        </h3>
        <div class="f-sicon">
          <ul>
          <li>
            <%= fa_icon "phone" %>
            13214658454
          </li>
          <br>
          <li>
            
            <li>
            
                <i class='fa fa-facebook'></i>
                <i class='fa fa-twitter'></i>
                <i class='fa fa-google'></i>
            
            </li>
            
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copayright">
    <div class="container">
      <div class="col-sm-12 col-md-12">
        © Copyright Knits 2017. All Rights Reserved.
      </div>
    </div>
  </div>
</footer>
