<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Knits</title>
    <%= stylesheet_link_tag    "Knits/all", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "Knits/all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  </head>
  <body class="z-default">
    <div class="main">
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/messages' %>
      <%= yield %>
      <%= render 'layouts/footer'%>
    </div>
  </body>
</html>
