<header class="z-navbar" id="header">
  <div class="header-top-login">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-2 col-lg-4  col-lg-offset-2 ">
          <div class="block-form">
            <h3>Account login</h3>
            <form action="#" method="post">
              <div class="row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Password">
                </div>
                <div class="col-md-12">
                  <input type="submit" value="Login" class="btn-default-1">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="block-form">
            <h3>Create new account</h3>
            <form action="#" method="post">
              <div class="row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col-md-12">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="col-md-12">
                  <input type="submit" value="Continue" class="btn-default-1">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
        </div>
      </div>
    </div>
    <%= link_to "/", id: 'header-login-close' do %>
      <i class="icon-remove"></i>
    <% end %>
  </div>
  <div class="header-top-row">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div id="first-welcome">
            <p> Welcome visitor you can
              <%= link_to "Login or Sign Up", "" %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bg">
    <div class="header-main" id="header-main-fixed">
      <div class="container">
        <div id="container-fixed">
          <div class="row">
            <div class="col-md-6 col-sm-4">
              <h4 class="z_shop" id="logo">
                <%= link_to root_path do %>
                  Genics
                <% end %>
              </h4>
            </div>
            <div class="col-md-6">
              <div class="header-mini-cart  pull-right">
                <%= link_to "", class: 'btn navbar-btn', method: :get do %>
                  <span class="hidden-sm">
                    2
                  </span>
                <% end %>
              </div>
              <div class="top-search-form  pull-right">
                <form action="#" method="post">
                  <input type="text" placeholder="Search ...">
                  <button type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar yamm navbar-main" role="navigation">
        <div class="border-menu-top"></div>
        <div class="container">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to root_path, class: 'navbar-brand' do%>
              <%= fa_icon "home" %>
            <% end %>
          </div>
          <div id="navbar-collapse-1" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown  yamm-fw">
                <%= link_to "/", class: "dropdown-toggle", 'data-toggle' => 'dropdown' do%>Fashion
                  <%= fa_icon "caret-down" %>
                <% end %>
                <ul class="dropdown-menu list-unstyled">
                  <li>
                    <div class="yamm-content">
                      <div class="row">
                        <div class="col-md-12">
                          Recommended:
                          <%= link_to "/" do%> coat
                          <% end %>,
                          <%= link_to "/" do%> Jackets
                          <% end %>,
                          <%= link_to "/" do%> Cart
                          <% end %>Shirts ,
                          <%= link_to "/" do%> Casual dresses
                          <% end %>
                        </div>
                      </div>
                      <div class="row">
                        <% unless @productsegment.nil? %>
                          <% @productsegment.limit(2).each do |productsegment| %>
                            <div class="col-md-3">
                              <div class="header-menu">
                                <h5>
                                  <%=link_to "#{productsegment.title}", products_path(productsegment_id: productsegment.id), class: "dropdown-toggle", 'data-toggle' => 'dropdown' %>
                                </h5>
                              </div>
                              <ul class="list-unstyled">
                                <% unless @categories.nil? %>
                                  <% @categories.where(product_segment_id: productsegment.id).each do |category| %>
                                    <li>
                                      <%=link_to "#{category.title}", products_path(category_id: category.id) %>
                                    </li>
                                  <% end %>
                                <% end %>
                              </ul>
                            </div>
                          <% end %>
                        <% end %>
                        <div class="col-md-6">
                          <div class="banner">
                            <%= link_to products_path do %>
                              <img src="<%= asset_url('http://mosaicthemes.net/queen/img/preview/banner5.jpg') %>" alt="" class="img-responsive" />
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="dropdown yamm-fw">
                <%= link_to "/", class: "dropdown-toggle", 'data-toggle' => 'dropdown' do%>Featured
                  <%= fa_icon "caret-down" %>
                <% end %>
                <ul class="dropdown-menu list-unstyled">
                  <li>
                    <div class="yamm-content">
                      <div class="header-1">
                        <h3>Weekly Features</h3>
                      </div>
                      <div class="product-section">
                        <div class="row">
                          <% @products.last(4).each do |product|%>
                            <article class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
                              <div class="product">
                                <figure class="figure-hover-overlay">
                                  <%= link_to products_path, class: 'figure-href' do%>
                                  <% end %>
                                  <div class="product-sale">sale</div>
                                  <%= image_tag(product.ia + product.i2, class:"img-responsive", alt: "") %>
                                  <span class="bar"></span>
                                </figure>
                                <div class="product-caption">
                                  <%= product.pn %>
                                  <p class="product-price">
                                    <%= t('product.price') %>:
                                    <%= number_to_currency(product.price) %>
                                  </p>
                                  <div class="product-rating">
                                    <div class="stars">
                                        <%=link_to product_path(product), class: "btn btn-danger" do%>View Now<% end %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </article>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="<%= active_class('/about') %>">
                <%= link_to "About", about_path %>
              </li>
              <li class="<%= active_class('/contact') %>">
                <%= link_to "Contact", contact_path %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
