<section class="banner2">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="spipping-banner  wow slideInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: slideInUp;">
          <div class="banner-text2">
            <i class="fa fa-truck" aria-hidden="true"></i>
            <h4>free shipping</h4>
            <p>Free shipping on order over $99</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="delivery-banner  wow slideInUp animated" data-wow-delay="100ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: slideInUp;">
          <div class="banner-text2">
            <i class="fa fa-globe" aria-hidden="true"></i>
            <h4>worldwide delivery</h4>
            <p>Worldwide delivery available</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <!-- .banner-img -->
        <div class="gifts-banner  wow slideInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: slideInUp;">
          <div class="banner-text2">
            <i class="fa fa-gift" aria-hidden="true"></i>
            <h4>special gifts</h4>
            <p>Receive gifts when you subscribe</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="z-products new-arrivals" data-toggle="IndexProducts">
  <div class="container">
    <div class="col-md-12 pad2">
      <% @products.first(12).each do |product| %>
        <div class="col-md-2 col-xs-4 pad">
          <div class="pro-text">
            <div>
              <%= link_to product_path(product) do %>
                <%= image_tag(product.ia + product.i2, class:"img-responsive", alt: "") %>
                <div class="hover-img">
                  <div class="hover-btn">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </div>
                </div>
              <% end %>
            </div>
            <%= link_to product_path(product) do %>T-Shirt With World Wide
            <% end %>
            <span class="price"><%= number_to_currency(product.price) %></span>
            <%= link_to product_path(product), class: 'add-cart' do%> add to cart
              <%= fa_icon "plus" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<section class="z-banner parollex-bg" data-toggle="IndexBanner">
  <div class="container">
    <div class="col-md-6 animated wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
      <h6 class="text-heading">
        Shop Collection
        <br/>
        <span>50%</span> Offer!
      </h6>
      <p>new trendy collection</p>
      <%= link_to products_path(main_product_id: 1), 'data-scroll' => "", class: "btn get-start animated fadeInUpBig" do%>shop now
      <% end %>
    </div>
  </div>
</section>
<section class="z-products new-collection" data-toggle="IndexProducts">
  <div class="container">
    <div class="tittle text-center">
      <h2>new collection
      </h2>
      <p>Explore some of the great things from us
      </p>
    </div>
    <div class="col-md-6 pad2">
      <% @products.last(4).each do |product| %>
        <div class="col-md-6 pad">
          <div class="pro-text">
            <div class="pro-img">
              <%= image_tag(product.ia + product.i2, class:"img-responsive", alt: "") %>
              <div class="hover-img">
                <div class="hover-btn">
                  <%= link_to products_path(main_product_id: 1) do %>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to products_path(main_product_id: 1) do %>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
              <div class="tage">
                <div class="pert">
                  <span>40%</span>
                </div>
                <div class="new">
                  <span>NEW</span>
                </div>
              </div>
            </div>
            <%= link_to products_path(main_product_id: 1) do %>T-Shirt With World Wide
            <% end %>
            <span class="price"><%= number_to_currency(product.price) %></span>
            <%= link_to product_path(product), class: 'add-cart' do%> add to cart
              <%= fa_icon "plus" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-6 pad3">
      <div class="pro-outer">
        <%= link_to products_path(main_product_id: 1) do %>
          <img src="<%= asset_url('Knits/collection-img5.jpeg') %>" alt="about-img1" class="img-responsive" />
        <% end %>
        <div class="flag">
          <i class="fa fa-flag" aria-hidden="true"></i>
        </div>
        <div class="price-box">
          <h2>T-Shirt</h2>
          <%= link_to products_path(main_product_id: 1) do %>purchase now
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="z-products new-arrivals" data-toggle="IndexProducts">
  <div class="container">
    <div class="tittle text-center">
      <h2>Featured collection
      </h2>
      <p>
        Discover shoppers' top finds from around the market
      </p>
    </div>
    <div class="col-md-12 pad2">
      <% @products.last(8).each do |product| %>
        <div class="col-md-3 pad">
          <div class="pro-text">
            <div class="pro-img">
              <%= image_tag(product.ia + product.i2, class:"img-responsive", alt: "") %>
              <div class="hover-img">
                <div class="hover-btn">
                  <%= link_to products_path(main_product_id: 1) do %>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to products_path(main_product_id: 1) do %>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
              <div class="tage">
                <div class="pert">
                  <span>40%</span>
                </div>
                <div class="new">
                  <span>NEW</span>
                </div>
              </div>
            </div>
            <%= link_to products_path(main_product_id: 1) do %>T-Shirt With World Wide
            <% end %>
            <span class="price"><%= number_to_currency(product.price) %></span>
            <%= link_to product_path(product), class: 'add-cart' do%> add to cart
              <%= fa_icon "plus" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<section class="z-banner banner section-padding " data-toggle= "IndexBanner ">
  <div class="container ">
    <div class="col-sm-4 col-md-4 ">
      <div class="banner-img animated wow slideInUp " data-wow-delay="0ms " data-wow-duration="1500ms">
        <img src="<%=asset_url( 'Knits/banner-img1.jpeg') %>" alt="about-img1" class="img-responsive" />
        <div class="banner-hover">
          <%= link_to products_path(main_product_id: 1) do %>Buy Now
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="banner-img animated wow slideInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
        <img src="<%= asset_url('Knits/banner-img2.jpeg') %>" alt="about-img1" class="img-responsive" />
        <div class="banner-text">
          <%= link_to products_path(main_product_id: 1) do %>Trending
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
          <% end %>
        </div>
        <div class="banner-hover">
          <%= link_to products_path(main_product_id: 1) do %>Explore Now
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="banner-img animated wow slideInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
        <img src="<%= asset_url('Knits/banner-img3.jpeg') %>" alt="about-img1" class="img-responsive" />
        <div class="banner-hover">
          <%= link_to products_path(main_product_id: 1) do %>shop now
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
