<div class="container">
  <br />
  <div class="row">
    <div class="section">
      <h2 class="text-center">
        GET IN TOUCH
      </h2>
    </div>
    <hr />
    <br />
    <br />
    <div class="row">
      <div class= "col-sm-4 text-center">
        <div class="feature boxed feature-1">
          <%= fa_icon "user", class: "fa-3x" %>
          <h4>Vist Us</h4>
          <p>
            <p><%= @shop.full_name %></p>
            <p><%= @shop.shop_name %></p>
            <% if @shop.operational_address.nil? %>
            <p><%= @shop.operational_address %>,</p>
            <% end %>
            <% if @shop.operational_address.nil? %>
            <p><%= @shop.operational_address_state %>, </p>
            <% end %>
            <% if @shop.operational_address.nil? %>
            <p><%= @shop.operational_address_city %>,</p>
            <% end %>
            <% if @shop.operational_address.nil? %>
            <p><%= @shop.operational_address_zipcode %></p>
            <% end %>
          </p>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="feature boxed feature-1">
          <%= fa_icon "phone-square", class: "fa-3x" %>
          <h4>Give us a call</h4>
          <p>
            <% if !@shop.phone.nil? %>
              Phone
              <p><%= @shop.phone %></p>
            <% end %>
            <% if !@shop.other_phone.nil? %>
              Other
              <p><%= @shop.other_phone %></p>
            <% end %>
          </p>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="feature boxed feature-1">
          <%= fa_icon "desktop", class: "fa-3x" %>
          <h4>Connect online</h4>
          <p>
            Email
            <br>
            <a href="#"><%= @shop.email %></a>
          </p>
        </div>
      </div>
    </div>
    <br />
    <br />
  </div>
</div>
