<section class="banner section-padding" data-toggle= "IndexBanner">
  <div class="container ">
    <div class="row">
    <div class="col-sm-4 col-md-4 ">
      <div class="banner-img animated wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
        <img src="<%=asset_url('Archie/banner-img1.jpg') %>" alt="Banner1" class="img-responsive" />
        <div class="banner-text">
          <h2>Wall Decor &amp; Hangings.</h2>
        </div>
        <div class="banner-hover">
          Buy Now<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="banner-img animated wow slideInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
        <img src="<%= asset_url('Archie/banner-img2.jpg') %>" alt="Banner2" class="img-responsive" />
        <div class="banner-text">
          <h2>Notebooks &amp; Journals.</h2>
        </div>
        <div class="banner-hover">
          Buy Now<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="banner-img animated wow slideInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
        <img src="<%= asset_url('Archie/banner-img3.jpg') %>" alt="Banner3" class="img-responsive" />
        <div class="banner-text">
          <h2>Badges for every mood.</h2>
        </div>
        <div class="banner-hover">
          Buy Now<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
<section class="z-products new-collection" data-toggle="IndexProducts">
  <div class="container">
    <div class="tittle text-center">
      <h2>Featured Products
      </h2>
      <p>If you’re into organic fabrics and quirky, witty word humor, this is the place for you to pick up some cool merch.</p>
    </div>
    <div class="col-md-12  pad2">
      <% @products.first(12).each do |product| %>
        <div class="col-md-3 col-xs-6 pad">
          <div class="pro-text">
            <div class="pro-img">
              <%= image_tag(product.ia + product.i2, class:"img-responsive", alt: "") %>
              <div class="hover-img">
                <div class="hover-btn">
                  <%= link_to product_path(product) do %>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
            </div>
            <%= link_to product_path(product) do %>UPC: <%= product.upc %>
            <% end %>
            <span class="price">SKU: <%= product.pn %></span>
            <%= link_to product_path(product), class: 'add-cart' do%> add to cart
              <%= fa_icon "plus" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<section class="banner section-padding" data-toggle= "IndexBanner">
  <div class="container ">
    <div class="col-sm-4 col-md-4 ">
      <div class="banner-img animated wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
        <img src="<%=asset_url('Archie/banner-img4.jpg') %>" alt="Banner4" class="img-responsive" />
        <div class="banner-text">
          <h2>Organize in style with these boards!</h2>
        </div>
        <div class="banner-hover">
          Buy Now<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="banner-img animated wow slideInRight" data-wow-delay="100ms" data-wow-duration="1500ms">
        <img src="<%= asset_url('Archie/banner-img5.jpg') %>" alt="Banner5" class="img-responsive" />
        <div class="banner-text">
          <h2>Coasters.</h2>
        </div>
        <div class="banner-hover">
          Buy Now<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="banner-img animated wow slideInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
        <img src="<%= asset_url('Archie/banner-img6.jpg') %>" alt="Banner6" class="img-responsive" />
        <div class="banner-text">
          <h2>Screen printed cotton bags.</h2>
        </div>
        <div class="banner-hover">
          Buy Now<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="z-products new-arrivals" data-toggle="IndexProducts">
  <div class="container">
    <div class="col-md-12  pad2">
      <% @products.last(18).each do |product| %>
        <div class="col-md-2 col-xs-4 pad">
          <div class="pro-text">
            <div class="pro-img">
              <%= image_tag(product.ia + product.i2, class:"img-responsive", alt: "") %>
              <div class="hover-img">
                <div class="hover-btn">
                  <%= link_to product_path(product) do %>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
            </div>
            <span class="price">SKU: <%= product.pn %></span>
            <%= link_to product_path(product), class: 'add-cart' do%> 
              <%= fa_icon "plus" %>add to cart
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <center><%= link_to "Explore More", products_path, class: "btn btn-default" %></center>
</section>
<section class="z-banner parollex-bg2" data-toggle="IndexBanner">
  <h2>Whatever you'd like on your wall, We can create.</h2>
</section>