<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="row">
  <div class="col">
    <div class="input-group mb-4">
      <input type="search" placeholder="Product Name, SKU or any other details?" aria-describedby="button-addon5" class="form-control zform-control zborder" id="search_tags">
      <div class="input-group-append">
        <button id="search-btn" type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
  <div class="col text-right">
    <div class="btn-group">
      <select class="custom-select m-b" name="vendors" id="vendor_list">
        <option value="">Filter by Brand</option>
        <% @vendors.each do |vendor| %>
          <% if params[:vid].present? && vendor.vid == params[:vid] %>
            <option value="<%= vendor.vid %>" selected data-edit-url='<%= products_path(pi: "1", pz: "32", search: "#{params[:search]}", rg: "#{params[:rg]}", vid: "#{vendor.vid}") %>'><%= vendor.n %></option>
          <% else %>
            <option value="<%= vendor.vid %>" data-edit-url='<%= products_path(pi: "1", pz: "32", search: "#{params[:search]}", rg: "#{params[:rg]}", vid: "#{vendor.vid}") %>'><%= vendor.n %></option>
          <% end %>
        <% end %>
      </select>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    var availableTags = <%= raw @search_tags %>;
    $( "#search_tags" ).autocomplete({
      source: availableTags
    });
  } );
</script>