<p id="notice"><%= notice %></p>

<p>
  <strong>Vid:</strong>
  <%= @vendor.vid %>
</p>

<p>
  <strong>N:</strong>
  <%= @vendor.n %>
</p>

<p>
  <strong>Mo:</strong>
  <%= @vendor.mo %>
</p>

<p>
  <strong>Mr:</strong>
  <%= @vendor.mr %>
</p>

<p>
  <strong>D:</strong>
  <%= @vendor.d %>
</p>

<p>
  <strong>Pt:</strong>
  <%= @vendor.pt %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
