<div class="row">
  <div class="col">
    <span class="page-link page-link-muted">Total items found: <strong><%= @raw_products.c %></strong></span>
  </div>
  <div class="col text-right">
    <nav aria-label="Page navigation example ">
      <ul class="nav pagination justify-content-end">
        <% if params[:pi] != 1 %>
          <li class="page-item">
            <%= link_to products_path(pi: "#{params[:pi].to_i - 1}", pz: "32", search: "#{params[:search]}", rg: "#{params[:rg]}", vid: "#{params[:vid]}"), class: "page-link", "aria-label": "Previous" do %>
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            <% end %>
          </li>
        <% end %>
        <li class="page-item page-link page-link-muted">Page <strong><%= @raw_products.pn %></strong> of <strong><%= @raw_products.pc %></strong></li>
        <li class="page-item">
          <%= link_to products_path(pi: "#{params[:pi].to_i + 1}", pz: "32", search: "#{params[:search]}", rg: "#{params[:rg]}", vid: "#{params[:vid]}"), class: "page-link", "aria-label": "Next" do %>
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>