<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <ul class="list-unstyled mb-4">
          <li class="lead banner-stuff font-weight-bold text-uppercase"><%= @vendor.n %></li>
          <li class="banner-stuff">Minimum Order: <%= @vendor.mo %></li>
          <li class="banner-stuff">Minimum Reorder: <%= @vendor.mr %></li>
          <span><%= @vendor.d %></span>
          <span>Accepted Credit Cards: <%= @vendor.pt %></span>
        </ul>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col">
        <h2>Products</h2>
        <%= link_to products_path(pi: "1", pz: "32", search: "", rg: "", vid: "#{params[:id] + '.' + params[:format]}"), class: "btn btn-primary" do %>
          Explore <span class="fa fa-th-large"></span>
        <% end %>
      </div>
    </div>
    <% if @catalogs.vcs.size != 0 %>
      <div class="row">
        <h2>Catalogs</h2>
      </div>
      <div class="row mb-2">
        <% hosturl = "http://localhost:49826" %>
        <% mybaseurl = @market_org.api_url.to_s.gsub! '/api/market', '' %>
        <% @catalogs.vcs.each_with_index do |catalog, index| %>
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <div class="product text-center">
              <% thislink = catalog.sp.to_s.gsub! hosturl.to_s, mybaseurl.to_s %>
              <%= link_to thislink, target: :_blank, class: "img-prod" do %>
                <img src="<%= catalog.thumb.to_s.gsub! hosturl.to_s, mybaseurl.to_s %>" onerror="this.src='<%= asset_url 'no-image-available.jpg' %>';" class="img-fluid" alt="<%= catalog.alias %>">
              <% end %>
              <div class="text-center py-3 px-3">
                <span class="prod-text"><%= catalog.alias %></span>
                <span class="prod-text prod-text-alt"><%= catalog.d %></span>
              </div>
              <%= link_to thislink, target: :_blank, class: "btn btn-primary" do %>
                Open Catalog <span class="fa fa-external-link"></span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>