<% if @thisproduct.nil? %>
  <% getcatalogiteminfo_response = File.read(File.join(Rails.public_path, 'GetCatalogItemInfo.json')) %>
  <% @this_product = JSON.parse(getcatalogiteminfo_response, object_class: OpenStruct) %>
<% else %>
  <% @this_product = @thisproduct %>
<% end %>
<%= form_with(url: url_for(:controller => 'carts', :action => 'prod_crud'), method: "post") do |f| %>
  <% if @thisactn == "additem" %>
    <%= f.hidden_field :pid, value: @this_product.PartId %>
  <% else %>
    <%= f.hidden_field :sid, value: params[:sid] %>
  <% end %>
  <%= f.hidden_field :actn, value: @thisactn %>
  <%= f.hidden_field :ref_uri, value: request.env["HTTP_REFERER"] %>
  <div class="row">
    <div class="col text-left">
      <%= @this_product.PartId %>
      <p class="form-control-static font-weight-bold" align="left"><%= @this_product.PartNum %></p>
      <p class="form-control-static" align="left"><%= @this_product.Description %></p>
      <p class="form-control-static font-italic" align="left">UPC: <%= @this_product.Upc %></p>
    </div>
    <div class="col text-center">
      <img class="img-100x100 img-fluid centerImage" src="<%= @this_product.thmb %>" alt="Product">
    </div>
  </div>
  <div class="row">
    <div class="col text-left">
      <div>
        <label class="small">Quantity</label>
        <% if @thisactn == "additem" %>
          <input name="qty" type="number" class="form-control mb-4 rounded-0" value="<%= @this_product.QtyMin %>" min="<%= @this_product.QtyMin %>">
        <% else %>
          <input name="qty" type="number" class="form-control mb-4 rounded-0" value="<%= @thisqty %>" min="<%= @this_product.QtyMin %>">
        <% end %>
      </div>
      <div>
        <label class="small">Notes</label>
        <textarea name="notes" class="form-control rounded-0" rows="3"></textarea>
      </div>
    </div>
    <div class="col">
      <div align="left">
        <label class="small">Pricing:</label>
        <table class="table">
          <thead>
            <tr>
              <th>Qty</th>
              <th>Unit Price</th>
            </tr>
          </thead>
          <tbody>
            <% @this_product.QtyBreaks.each do |qtybreak| %>
              <tr>
                <td><%= qtybreak.q %></td>
                <td><%= number_to_currency(qtybreak.p) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <% if @thisactn == "additem" %>
      <button id="add-button" class="btn btn-primary">Add Product</button>
    <% else %>
      <div class="row">
        <div class="col">
          <a id="delete-button" class="btn btn-danger" href="/carts/delete_item?sid=<%= params[:sid] %>">Remove</a>
        </div>
        <div class="col">
          <button id="update-button" class="btn btn-primary">Save</button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>