<%= link_to product_path(product) do %>
  <div class="<%= class_name %>">
    <div class="product">
      <div class="image">
        <%= image_tag product_image_path(product), alt: "", class: "img-responsive"%>
      </div>
      <!-- /.image -->
      <div class="text">
        <h5>
          <%= truncate(product.title.html_safe.titleize, :length => 30) %>
        </h5>
        <% if product.on_sale? %>
          <p class="price">
            <del>
              <%= number_to_currency(product.price) %>
            </del>
            <%= number_to_currency(product.current_price) %>
          </p>
        <% else %>
          <p class="price">
            <%= number_to_currency(product.price) %>
          </p>
        <% end %>
        <% if product.on_sale? %>
          <div class="ribbon sale">
            <div class="theribbon">SALE</div>
            <div class="ribbon-background"></div>
          </div>
        <% else %>
        <% end %>
      </div>
      <!-- /.text -->
    </div>
    <!-- /.product -->
  </div>
<% end %>
<!-- /.ribbon -->
