<!-- hardcoded categories as per production product segment table -->
<ul class="nav nav-pills nav-stacked subcategory-menu">
  <li>
    <%=link_to "Wallart & Posters", products_path(product_segment_id: 162) %>
  </li>
  <li>
    <%=link_to "Notebooks & Journals", products_path(product_segment_id: 164) %>
  </li>
  <li>
    <%=link_to "Bags", products_path(product_segment_id: 167) %>
  </li>
  <li>
    <%=link_to "Pins/Badges", products_path(product_segment_id: 163) %>
  </li>
  <li>
    <%=link_to "Coasters", products_path(product_segment_id: 166) %>
  </li>
  <li>
    <%=link_to "Pin Boards", products_path(product_segment_id: 165) %>
  </li>
</ul>
