<p id="notice"><%= notice %></p>

<p>
  <strong>Pid:</strong>
  <%= @product.pid %>
</p>

<p>
  <strong>Pn:</strong>
  <%= @product.pn %>
</p>

<p>
  <strong>Upc:</strong>
  <%= @product.upc %>
</p>

<p>
  <strong>Vid:</strong>
  <%= @product.vid %>
</p>

<p>
  <strong>Vn:</strong>
  <%= @product.vn %>
</p>

<p>
  <strong>D:</strong>
  <%= @product.d %>
</p>

<p>
  <strong>Qm:</strong>
  <%= @product.qm %>
</p>

<p>
  <strong>Qa:</strong>
  <%= @product.qa %>
</p>

<p>
  <strong>Qs:</strong>
  <%= @product.qs %>
</p>

<p>
  <strong>P:</strong>
  <%= @product.p %>
</p>

<p>
  <strong>I:</strong>
  <%= @product.i %>
</p>

<p>
  <strong>I2:</strong>
  <%= @product.i2 %>
</p>

<p>
  <strong>Ia:</strong>
  <%= @product.ia %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
