<section>
  <footer class="footer" data-component="Footer">
    <div class="container">
      <div class="widgets">
        <div class="row">
          <div class="col-sm-3 widget widget-about">
            <%= link_to root_path do %>
              <h2 class="logo">Noiise</h2>
            <% end %>
            <br>
            <ul class="social list-unstyled">
                <li>
                <i class='fa fa-facebook'></i>
                <i class='fa fa-twitter'></i>
                <i class='fa fa-google'></i>
                </li>
            </ul>
            <br><br>
            <%= image_tag("Kaira/payment.png", class: "img-responsive", alt:"") %>
          </div>
          <div class="col-sm-3 widget widget-links">
            <h3 class="widget-title">My Account</h3>
            <div class="row">
              <ul class="col-xs-6 z-list">
                <li>
                  <%= link_to 'Register/Log in', "" %>
                </li>
                <li>
                  <%= link_to 'Cart', "" %>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3 widget widget-links">
            <h3 class="widget-title">Pages</h3>
            <div class="row">
              <ul class="col-xs-6 z-list">
                <li>
                  <%= link_to "About", about_path %>
                </li>
                <li>
                  <%= link_to "Terms", tandc_path %>
                </li>
                <li>
                  <%= link_to "Contact", contact_path %>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3 widget widget-links">
            <h3 class="widget-title">Categories</h3>
            <div class="row">
              <ul class="col-xs-6 z-list ">
                <% unless @productsegment.nil? %>
                  <% @productsegment.limit(4).each do |productsegment| %>
                    <li>
                      <%=link_to "#{productsegment.title}", products_path(product_segment_id: productsegment.id) %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="copy-right text-center">
        <p>© Copyright 2017. All Rights Reserved to
          <%= link_to root_path ,class: "effect" do %>
            Noiise
          <% end %>
        </p>
      </div>
    </footer>
  </section>
  <script>
    $('.icon').click(function() {
            $('.search').toggleClass('expanded');
        });
  </script>
